<div class="alert alert-warning alert-dismissible fade show" role="alert">
Click on the status to see all desk details!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="row desk-row">
<% @desks.each do |desk| %>
    <div class="col-6-auto desk-card-col">
      <div class="card desk-card">
        <h5 class="card-header"><%= desk.name %></h5>
        <div class="card-body">
          <p class="card-title">Desk ID: <%= desk.id %></p>
          <div class="text-center">
          <a href="<%= desk_path(desk) %>>" class="btn btn-outline-<%= desk_class(desk) %>" id="desk_state_<%= desk.id %>"><%= desk_status(desk) %></a>
          </div>
        </div>
      </div>
    </div>
<% end %>
</div>