<% breadcrumb @desk %>
<div class="row">
  <div class="col-lg">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"><%= @desk.name %></h4>
        <p class="card-text">Desk ID: <%= @desk.id %></p>
        <div class="text-center">
          <div class="alert alert-<%= desk_class(@desk) %>" role="alert"><%= desk_status(@desk) %></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg">
    <%= link_to 'Edit', edit_desk_path(@desk), class: 'btn' %>
  </div>
</div>
