<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="<%= root_path %>">Desk Listing</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @desk.name %></li>
  </ol>
</nav>

<div class="col-lg">
<div class="card">

  <div class="card-body">

    <% occupied_class = 'alert-success' %>
    <% status_text = 'Not Occupied' %>

    <% if @desk.occupied? %>
        <% occupied_class = 'alert-danger' %>
        <% status_text = 'Occupied' %>
    <% end %>

    <h4 class="card-title"><%= @desk.name %></h4>
    <p class="card-text">Desk ID: <%= @desk.id %></p>
    <div class="text-center">
    <div class="alert <%= occupied_class %>" role="alert"><%= status_text %></div>
    </div>
  </div>
</div>
</div>