<% x = area.coordinate.nil? ? 0 : area.coordinate.x %>
<% y = area.coordinate.nil? ? 0 : area.coordinate.y %>
<% type = area.class.name.downcase %>
<div class="<%= type %> draggable"
     data-toggle="tooltip"
     title="<%= area.name %>"
     style="transform: translate(<%= x %>px, <%= y %>px)"
     data-id="<%= area.id %>"
     data-type="<%= type %>"
     data-x="<%= x %>"
     data-y="<%= y %>">
</div>
