<!doctype html>
<html lang="en">
<head>
  <title>Smart Library</title>

  <!-- Bootstrap meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>
<body>
  <div class="jumbotron">
    <%= link_to 'Smart Library', root_path, class: 'display-4' %>
    <p class="lead">Think Libraries. But Smarter.</p>
  </div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to 'Desks', desks_path, class: 'nav-link ' + active_tab_class('desks') %>
    </li>
    <li class="nav-item">
      <%= link_to 'Groupings', groupings_path, class: 'nav-link ' + active_tab_class('groupings') %>
    </li>
  </ul>
  <div class="container">
    <%= breadcrumbs display_single_fragment: true, style: :bootstrap, separator: ' / ' %>
    <%= yield %>
  </div>
</body>
</html>
